<!DOCTYPE html>
<html>
<head>
    <title>Between Jobs AI || Audio-Lyrics Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='audio-speech-to-text-generator-static/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/logo.webp') }}">

</head>
<body>
    <div class="container">
        <h1>AI Audio Lyrics Generator</h1>
        {% if error %}
            <p class="error">Error: {{ error }}</p>
        {% endif %}
        <form action="/audio-content-recognizer" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".wav,.mp3,.ogg" required>
            <button type="submit">Recognize & Generate The Lyrics Now</button>
        </form>
        {% if transcription %}
            <div class="transcription-box">
                <h2>Transcription:</h2>
                <p>{{ transcription }}</p>
                <button class="copy-button" onclick="copyToClipboard()">Copy</button>
            </div>
        {% endif %}
    </div>

    <script>
        function copyToClipboard() {
            const copyButton = document.querySelector('.copy-button');
            const transcriptionText = document.querySelector('.transcription-box p');
            navigator.clipboard.writeText(transcriptionText.textContent);
            copyButton.textContent = 'Copied';
            copyButton.disabled = true;
        }
    </script>

    <div class="footer">
      <a href="https://www.github.com/Focze-Eszther/Between-Jobs-AI-Frontend" target="_blank">
          <img src="{{ url_for('static', filename='audio-speech-to-text-generator-static/github-logo.png') }}" alt="GitHub" class="logo" id="github-logo">
      </a>
      <!-- <a href="https://www.linkedin.com/in/" target="_blank">
          <img src="{{ url_for('static', filename='pdf-content-summarizer/linkedin-logo.png') }}" alt="LinkedIn" class="logo" id="linkedin-logo">
      </a> -->
    </div>
</body>
</html>
