<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Between Jobs AI || Enhanced Image-Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='enhancerstatic/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/logo.webp') }}">

</head>

<body>
    <div class="container">
        <h1>Enhanced Image Results</h1>
        <div class="image-container">
            <div class="image-wrapper">
                <h2>Before</h2>
                <img src="{{ before_image_path }}" alt="Before">
            </div>
            <div class="image-wrapper">
                <h2>After</h2>
                <img src="{{ after_image_path }}" alt="After">
            </div>
        </div>
    </div>
</body>

</html>
